<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://SPRING_GENERATOR/"
            target="platform:/plugin/ProfileSpringGenerator/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="SpringGenerator Profile"
            path="pathmap://SPRING_GENERATOR/ProfileSpringGenerator.profile.uml">
      </profile>
   </extension>

</plugin>
